[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
base = "*"
bcrypt = "*"
blinker = "*"
boto3 = "*"
botocore = "*"
cachelib = "*"
cffi = "*"
click = "*"
cryptography = "*"
dnspython = "*"
email-validator = "*"
flask = "*"
flask-bcrypt = "*"
flask-mail = "*"
flask-session = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
gevent = "*"
greenlet = "*"
gunicorn = "*"
idna = "*"
itsdangerous = "*"
jinja2 = "*"
jmespath = "*"
passlib = "*"
pillow = "*"
psycopg2-binary = "*"
py = "*"
pycparser = "*"
pytest = "*"
python-dateutil = "*"
s3transfer = "*"
six = "*"
tqdm = "*"
urllib3 = "*"
werkzeug = "*"
wtforms = "*"
"zope.event" = "*"
"zope.interface" = "*"
Flask-Login = "*"
Flask-User = "*"
MarkupSafe = "*"
SQLAlchemy = "*"

[dev-packages]

[requires]
python_version = "3.8"
