body,
html {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif
}

#call-to-action {
    text-align: center;
    margin: 5%;
}

.content-section {
    width: 100%;
}


/* navbar effects to be dramatic ;) */

nav .navbar-brand {
    /* size for brand */
    font-size: xx-large;
}

.nav-link {
    transition: 0.3s;
}

.nav-link:hover {
    font-weight: bold;
}

main {
    /* Scroll horizontally as needed */
    overflow-x: auto;
}

main img {
    /* Constrain images on small screens */
    max-width: 100%;
}


/* don't show red box when user doesn't type anything in search box */

input[name='search']:invalid {
    box-shadow: none
}


/* links should not have underlines, just a personal styling choice */

a {
    text-decoration: none;
}