{% extends 'layout.html' %} 
{% block title %}Account{% endblock %} 

{% block main %}
<div class='content-section'>
    <div class='media'>
        <img alt='profile picture' class='rounded-circle account-img' src='{{ url_for("static", filename="images/profile_pictures/" + user.pfp_file) }}'>
        <div class='media-body'>
            <h2 class='heading'>{{ user.username }}.</h2>
            <p class='text-secondary'>{{ user.email }}</p>
        </div>
        {% if current_user.is_authenticated %}
            {% if current_user.id == user.id %}
            <a href='{{ url_for("edit_account", username=user.username) }}'>
                <button type='button' class='btn btn-outline-primary float-right'>Edit</button>
            </a>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}