{% extends 'layout.html' %} 
{% block title %}Account{% endblock %} 

{% block main %}
<div class='content-section'>
    <div class='media'>
        <img alt='profile picture' class='rounded-circle account-img' src='{{ s3.meta.client.generate_presigned_url("get_object",
            Params={
                "Bucket": app.config["AWS_S3_BUCKET_NAME"],
                "Key": "/".join(["images", "profile_pictures", user.pfp_file]),
                "ResponseContentType": "image/jpeg"
            }
        ) }}'>
        <div class='media-body'>
            <h2 class='heading'>{{ user.username }}.</h2>
            <p class='text-secondary'>{{ user.email }}</p>
        </div>
        {% if current_user.is_authenticated %}
            {% if current_user.id == user.id %}
            <a href='{{ url_for("edit_account", username=user.username) }}'>
                <button type='button' class='btn btn-outline-primary float-right'>Edit</button>
            </a>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}