{% extends 'layout.html' %} 
{% block title %} View kit {% endblock %} 

{% block main %}
<div class='content-section'>
    <form action='' method='POST'>
        {{ editKitForm.hidden_tag() }}
        <fieldset class='form-group'>
            <legend class='border-bottom mb-4'>Kit details</legend>
            <div class='form-group'>
                {{ editKitForm.title.label(class='form=control-label')}} 
                
                {% if editKitForm.title.errors %}
                    <!-- display errors !-->
                    {{ editKitForm.title(class='form-control form-control-lg is-invalid', autocomplete='off') }}
                    <div class='invalid-feedback'>
                        {% for error in editKitForm.title.errors %}
                            <span>{{ error }}</span> 
                        {% endfor %}
                    </div>

                {% else %} 
                    {{ editKitForm.title(class='form-control form-control-lg', autocomplete='off', autofocus=true) }} 
                {% endif %}
            </div>

            <div class='form-group'>
                {{ editKitForm.kit_description.label(class='form=control-label') }} 
                {% if editKitForm.kit_description.errors %}
                    <!-- display errors !-->
                    {{ editKitForm.kit_description(class='form-control form-control-lg is-invalid', autocomplete='off') }}
                    <div class='invalid-feedback'>
                        {% for error in editKitForm.kit_description.errors %}
                            <span>{{ error }}</span> 
                        {% endfor %}
                    </div>

                {% else %} 
                    {{ editKitForm.kit_description(class='form-control form-control-lg', autocomplete='off') }}
                {% endif %}
            </div>
            <div class='form-group'>
                {{ editKitForm.category.label(class='form=control-label') }} 
                {% if editKitForm.category.errors %}
                    {{ editKitForm.category(class='form-control form-control-lg is-invalid', autocomplete='off') }}
                    <!-- display errors !-->
                    {% for error in editKitForm.category.errors %}
                        <span class='text-danger'>{{ error }}</span> 
                    {% endfor %}

                {% else %} 
                    {{ editKitForm.category(class='form-control form-control-lg', autocomplete='off') }} 
                {% endif %}
            </div>
            <div class='form-group'>
                {{ editKitForm.tags.label(class='form=control-label') }} 
                {% if editKitForm.tags.errors %}
                    {{ editKitForm.tags(class='form-control form-control-lg is-invalid', autocomplete='off') }}
                    <!-- display errors !-->
                    {% for error in editKitForm.tags.errors %}
                        <span class='text-danger'>{{ error }}</span> 
                    {% endfor %}

                {% else %} 
                    {{ editKitForm.tags(class='form-control form-control-lg', autocomplete='off') }} 
                {% endif %}
            </div>
        </fieldset>
        
        <legend>Files in this kit</legend>
        {% for file in kit.files %}

        <article class='media'>
            <div class='media-body'>
                <button type='button' class='btn btn-outline-danger float-right mr-2' data-toggle="modal" data-target="#deleteKitFileModal"><i class='fa fa-trash'></i></button>

                <div class="modal fade" id="deleteKitFileModal" tabindex="-1" role="dialog" aria-labelledby="deletKitFileModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteKitFileModalLabel">Confirm deletion</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this file? You won't be able to recover it.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                                <a href='{{ url_for("delete_kit_file", kitID=kit.id, filename=file.filename) }}'>
                                    <button class='btn btn-danger' type='button'>Confirm</button> 
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='form-group flexible-input'>
                    {% if editKitForm[file.filename ~ '-filename'].errors %}
                        <!-- display errors !-->
                        {{ editKitForm[file.filename ~ '-filename'](class='form-control form-control-lg is-invalid', autocomplete='off') }}
                        <div class='invalid-feedback'>
                            {% for error in editKitForm[file.filename ~ '-filename'].errors %}
                                <span>{{ error }}</span> 
                            {% endfor %}
                        </div>

                    {% else %} 
                        {{ editKitForm[file.filename ~ '-filename'](class='form-control form-control-lg', autocomplete='off', autofocus=true) }} 
                    {% endif %}
                </div>
            </div>
        </article>
        {% endfor %}

        {{ editKitForm.submit(class='btn btn-outline-info') }}
    </form>
</div>
{% endblock %}