{% extends 'layout.html' %} 

{% block title %} Sign up {% endblock %} 

{% block main %}
<div class='content-section mb-2'>
    <form action='' method='POST'>
        {{ signUpForm.hidden_tag() }}
        <fieldset class='form-group'>
            <legend class='border-bottom mb-4'>Sign up</legend>
            <div class='form-group'>
                {{ signUpForm.username.label(class='form=control-label') }} 

                {% if signUpForm.username.errors %}
                    <!-- display errors !-->
                    {{ signUpForm.username(class='form-control form-control-lg is-invalid', autocomplete='off') }}
                    <div class='invalid-feedback'>
                        {% for error in signUpForm.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>

                {% else %}
                    {{ signUpForm.username(class='form-control form-control-lg', autocomplete='off', autofocus=true) }}
                {% endif %}
            </div>

            <div class='form-group'>
                {{ signUpForm.email.label(class='form=control-label') }} 

                {% if signUpForm.email.errors %}
                    <!-- display errors !-->
                    {{ signUpForm.email(class='form-control form-control-lg is-invalid', autocomplete='off') }}
                    <div class='invalid-feedback'>
                        {% for error in signUpForm.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>

                {% else %}
                    {{ signUpForm.email(class='form-control form-control-lg', autocomplete='off') }}
                {% endif %}
                <small id='emailHelp' class='form-text text-muted'>We'll never share your email with anyone else.</small>
            </div>

            <div class='form-group'>
                {{ signUpForm.password.label(class='form=control-label') }} 

                {% if signUpForm.password.errors %}
                    <!-- display errors !-->
                    {{ signUpForm.password(class='form-control form-control-lg is-invalid', autocomplete='off') }}
                    <div class='invalid-feedback'>
                        {% for error in signUpForm.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>

                {% else %}
                    {{ signUpForm.password(class='form-control form-control-lg', autocomplete='off') }}
                {% endif %}
            </div>

            <div class='form-group'>
                {{ signUpForm.confirm_password.label(class='form=control-label') }} 

                {% if signUpForm.confirm_password.errors %}
                    <!-- display errors !-->
                    {{ signUpForm.confirm_password(class='form-control form-control-lg is-invalid', autocomplete='off') }}
                    <div class='invalid-feedback'>
                        {% for error in signUpForm.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>

                {% else %}
                    {{ signUpForm.confirm_password(class='form-control form-control-lg', autocomplete='off') }}
                {% endif %}
            </div>

        </fieldset>
        {{ signUpForm.submit(class='btn btn-outline-info') }}
    </form>
</div>
<div class='border-top pt-3'>
    <small class='text-muted'>
        Have an account? <a class='ml-2' href='{{ url_for("signin") }}'>Sign in</a>
    </small>
</div>
{% endblock %}