{% extends "layout.html" %}
{% block title %} Upload {% endblock %}

{% block main %}
<div class='content-section'>
    <form action='' method='POST' enctype='multipart/form-data'>
        {{ uploadArticleForm.hidden_tag() }}
        <fieldset class='form-group'>
            <legend class='border-bottom mb-4'>Upload</legend>
            <div class='form-group'>
                {{ uploadArticleForm.title.label(class='form=control-label') }} 
                {% if uploadArticleForm.title.errors %}
                  <!-- display errors !-->
                  {{ uploadArticleForm.title(class='form-control form-control-lg is-invalid', autocomplete='off') }}
                  <div class='invalid-feedback'>
                      {% for error in uploadArticleForm.title.errors %}
                      <span>{{ error }}</span> {% endfor %}
                  </div>

                {% else %} 
                  {{ uploadArticleForm.title(class='form-control form-control-lg', autocomplete='off', autofocus=true) }}
                  <small class='text-muted'>
                    {{ uploadArticleForm.title.description }}
                  </small>
                {% endif %}
            </div>

            <div class='form-group'>
                {{ uploadArticleForm.file.label(class='form=control-label') }} 
                {% if uploadArticleForm.file.errors %}
                  <!-- display errors !-->
                  {{ uploadArticleForm.file(class='form-control form-control-lg is-invalid', autocomplete='off') }}
                  <div class='invalid-feedback'>
                      {% for error in uploadArticleForm.file.errors %}
                      <span>{{ error }}</span> {% endfor %}
                  </div>

                {% else %} 
                  {{ uploadArticleForm.file(class='form-control form-control-lg', autocomplete='off', autofocus=true) }}
                  <small class='text-muted'>
                    {{ uploadArticleForm.file.description }}
                  </small>
                {% endif %}
            </div>

            <div class='form-group'>
                {{ uploadArticleForm.article_description.label(class='form=control-label') }} 
                {% if uploadArticleForm.file.errors %}
                  <!-- display errors !-->
                  {{ uploadArticleForm.article_description(class='form-control form-control-lg is-invalid', autocomplete='off') }}
                  <div class='invalid-feedback'>
                      {% for error in uploadArticleForm.article_description.errors %}
                      <span>{{ error }}</span> {% endfor %}
                  </div>

                {% else %} 
                  {{ uploadArticleForm.article_description(class='form-control form-control-lg', autocomplete='off', autofocus=true) }}
                  <small class='text-muted'>
                    {{ uploadArticleForm.article_description.description }}
                  </small>
                {% endif %}
            </div>

            <div class='form-group'>
                {{ uploadArticleForm.school.label(class='form=control-label') }} 
                {% if uploadArticleForm.school.errors %}
                    <!-- display errors !-->
                    {{ uploadArticleForm.school(class='form-control form-control-lg is-invalid', autocomplete='off') }}
                    <div class='invalid-feedback'>
                        {% for error in uploadArticleForm.school.errors %}
                            <span>{{ error }}</span> 
                        {% endfor %}
                    </div>

                {% else %} 
                  {{ uploadArticleForm.school(class='form-control form-control-lg', autocomplete='off') }} 
                  <small class='text-muted'>
                    {{ uploadArticleForm.school.description }}
                  </small>
                {% endif %}
            </div>

            <div class='form-group'>
                {{ uploadArticleForm.category.label(class='form=control-label') }}  
                {% if uploadArticleForm.category.errors %}
                  <!-- display errors !-->
                    {% for error in uploadArticleForm.category.errors %}
                      <span class='text-danger'>{{ error }}</span> 
                    {% endfor %}
                  {% else %} 
                    {{ uploadArticleForm.category(class='form-control form-control-lg', autocomplete='off') }} 
                    <small class='text-muted'>
                      {{ uploadArticleForm.category.description }}
                    </small>
                {% endif %}
            </div>

            <div class='form-group'>
                {{ uploadArticleForm.tags.label(class='form=control-label') }} 
                {% if uploadArticleForm.tags.errors %}
                  <!-- display errors !-->
                    {% for error in uploadArticleForm.tags.errors %}
                      <span class='text-danger'>{{ error }}</span> 
                    {% endfor %}
                {% else %} 
                    {{ uploadArticleForm.tags(class='form-control form-control-lg', autocomplete='off') }} 
                    <small class='text-muted'>
                      {{ uploadArticleForm.tags.description }}
                    </small>
                {% endif %}
            </div>
        </fieldset>
        {{ uploadArticleForm.submit(class='btn btn-outline-info') }}
    </form>
</div>
{% endblock %}